.container.testemonials__container {
  width: 80%;
}

.client__avatar {
  width: 8rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.5rem solid var(--color-primary-variant);
  text-align: center;
}

.testemonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 2rem;
  user-select: none;
  /* min-width: 15rem; */
  width: 40rem;
}

.client__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}


/* ============================== MEDIA QUERIES (MEDIUM DEVICES) ============================== */

@media screen and (max-width: 1024px) {}


/* ============================== MEDIA QUERIES (SMALL DEVICES) ============================== */

@media screen and (max-width: 450px) {
  .testemonial {
    padding: 1rem 0.5rem;
  }

  .client__review {
    width: 95%;
    margin: 0.5rem auto 0;
  }
}


/* ============================== MEDIA QUERIES (VERY SMALL DEVICES) ============================== */

@media screen and (max-width: 370px) {}